/*
* Mobile first approach to design.
* Below is the design for most mobile screen size.
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0%;
    background-color: var(--Light-pink);
    font-family: "Work Sans", sans-serif;
}

.container {
    margin: 0;
    max-width: 375px;
}

.background-img {
    position: absolute;
    z-index: 0;
}

#desktop-img {
    display: none;
}

#mobile-img {
    margin-top: -40%;
}

.page-info-card {
    position: relative;
    background-color: var(--White);
    margin: 38% 5% 40% 5%;
    border-radius: 8px;
    padding: 7%;
}

.header {
    display: flex;
    margin-top: -12%;
}

#star {
    width: 8%;
}

#faqs {
    font-weight: 700;
    font-size: 33px;
    margin-left: 25px;
    color: var(--Dark-purple);
}

.qa {
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
    margin-bottom: 12%;
}

#qa-four {
    border: none;
}

.qb {
    display: flex;
    justify-content: space-between;
    margin-top: -8%;
}

.question {
    margin-right: 13%;
    font-weight: 600;
    font-size: 16px;
    color: var(--Dark-purple);
}

.question:hover {
    color: rgb(165, 7, 197);
}

.action-icon {
    margin-right: 2%;
}

.answer {
    font-size: 14px;
    color: var(--Grayish-purple);
    font-weight: 400;
    margin-bottom: 8%;
    margin-top: 2%;
    margin-right: 5%;
    line-height: 22px;
}

#a-four {
    margin-bottom: -15%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*
* Below is the design for the tablet screen size.
*/

@media only screen and (min-width: 600px) {
    
    .container {
        max-width: 600px;
    }

    #mobile-img {
        margin-top: -40%;
        width: 810px;
    }

    .page-info-card {
        margin: 50% 0 40% 10%;
        width: 95%;
        border-radius: 15px;
        padding: 8%;
    }

    .header {
        margin-top: -10%;
    }
    
    #star {
        width: 8%;
    }
    
    #faqs {
        font-size: 70px;
        margin-left: 35px;
    }

    .qb {
        margin-top: -9%;
    }

    .question {
        font-size: 30px;
    }
    
    .action-icon {
        margin-right: 2%;
    }
    
    .answer {
        font-size: 28px;
        margin-bottom: 8%;
        margin-top: 2%;
        margin-right: 5%;
        line-height: 35px;
    }
    
    #a-four {
        margin-bottom: -15%;
    }
}

/*
* Below is the desktop design
*/

@media only screen and (min-width: 820px) {
    
    .container {
        max-width: 1440px;
    }
    
    #desktop-img {
        display: block;
        margin-top: -13%;
    }
    
    #mobile-img {
        display: none;
    }
    
    .page-info-card {
        margin: 13% auto 10% auto;
        border-radius: 15px;
        padding: 2.5%;
        width: 30%;
    }
    
    .header {
        display: flex;
        margin-top: -10%;
    }
    
    #star {
        width: 7%;
    }
    
    #faqs {
        font-weight: 700;
        font-size: 38px;
        margin-left: 25px;
    }

    .qa {
        margin-bottom: 8%;
    }
    
    .qb {
        margin-top: -2%;
    }
    
    .question {
        margin-right: 0%;
        font-weight: 700;
        font-size: 13.5px;
    }
    
    .answer {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 6%;
        margin-top: 2%;
        margin-right: 0;
        line-height: 22px;
    }
    
    #a-four {
        margin-bottom: -10%;
    }
}